@import '../../../../shared/styles/mixins.scss';

.auth_button {
  display: flex;
  align-items: center;
  svg path {
    transition: 0.3s;
  }
  &:hover .auth_text {
    color: var(--color-blue);
  }
  &:hover svg path {
    stroke: var(--color-blue);
  }
  @include media-breakpoint-down(md){
    display: none;
  }
}

.auth_text {
  margin-left: 12px;
  transition: 0.3s;
}
