@import '../../../shared/styles/mixins.scss';


.feedwrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  padding-top: 40px;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  margin: 40px auto 0;  
  max-width: 242px;
}

.btnText {
  margin-left: 12px;
}

.titleWrapper {
  padding: 0 15px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  // @include media-tablet {
  //   padding: 0 15px;
  // } 
  // @include media-mobile {
  //   padding: 0 24px;
  // } 
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.scrollingWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 40px 15px;

  &::-webkit-scrollbar {
    display: none;
  }

  // @include media-tablet {
  //   width: 100vw;  
  // } 
  
  
}

.menuItem {
  flex: 0 0 auto;
  border-radius: 35px;
  margin-right: 24px;
  color: var(--color-text);
  transition: .3s;
  padding: 8px 24px;
  border: 1px solid transparent;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  &:hover {
    cursor: pointer;
    border: 1px solid var(--color-blue);
    color: var(--color-blue)
  }
}

.menuItemActive {
  @extend .menuItem;
  background-color:  var(--color-button-colored);
  color: var(--color-text);
  pointer-events: none;
}