@import './mixins.scss';
@import './variables.css';

html {
  height: 100%;
}

body {
  margin: 0; 
  height: 100%;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  list-style: none;
  padding: 0;
}