:root {
  /* Colors */
  --color-text: #424242;
  --color-text-footer: rgba(66, 66, 66, 0.6);
  --color-text-button: rgba(66, 66, 66);
  --color-background: #FFFFFF;
  --color-background-footer: #F2F2F2;
  --color-background-header: #FFFFFF;
  --color-blue: #4877F2;
  --color-button-colored: #FFAC28;
  --color-text-light: #F2F2F2;
  --color-border: rgba(42, 47, 55, 0.1);
  --color-grey: rgba(42, 47, 55, 0.08);
  --color-grey-xl: rgba(42, 47, 55, 0.6);
  --color-grey-l: rgba(42, 47, 55, 0.4);
  --color-error: rgb(213, 43, 43);

  /* Fonts */
  --font-default: 'Jost', sans-serif;
  --font-accent: 'Montserrat', sans-serif;
}